[flake8]
application-import-names = flake8
select = B, C, E, F, W, B950
import-order-style = pep8
max-complexity = 10
ignore =
  # Line too long (82 > 79 characters).
	E501,
  # Blank line at end of file
	W391,
