[flake8]
application-import-names = flake8
select = B, C, E, F, W, B950
import-order-style = pep8
max-complexity = 10
ignore =
	E501 # Line too long (82 > 79 characters). Linter enforcement is not necessary, as longer lines can improve code quality
	W391 # Blank line at end of file
