{
    "site_root": "/home/docs/",
    "repositories": "docs-build/repositories",
    "public_site": {
      "root": "public",
      "staging": "staging",
      "build": "build"
    },
    "private_site": {
      "root": "private",
      "staging": "staging",
      "build": "build"
    }
}
