{
    "site_root": "/var/www",
    "repositories": "repositories",
    "public_site": {
      "root": "public",
      "staging": "staging",
      "build": "build",
      "link": "link"
    },
    "private_site": {
      "root": "private",
      "staging": "staging",
      "build": "build",
      "link": "link"
    }
}
