<!DOCTYPE html>
<html lang="en">
<html>
  {% include head.html %}

  <body data-spy="scroll" data-target="#current" data-offset="100">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5KTSCGW" onkeypress="
    "height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <a href="#main" class="skip-link visually-hidden">Jump directly to main content</a>
    {% include nav.html %}

  <main id="main" class="container" role="main">
    {% unless page.layout == "docs" %}
     <div class="container mt-5">
       <h1 class="display-5 text-center">{{ page.title }}</h1>
     </div>
     {% endunless %}
    <div class="row mt-4 pb-3">
      {{ content }}
    </div>
  </main>
    {% include footer.html %}

    {% include scripts.html %}

  </body>
</html>
