<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body data-spy="scroll" data-target="#current" data-offset="100">

    <a href="#main" class="skip-link visually-hidden">Jump directly to main content</a>

    {% include nav.html %}

     <div class="wrapper">
      <div class="container grid">
        <main id="main">
          {% unless page.layout == "docs" %}
            <h1>{{ page.title }}</h1>
          {% endunless %}
            {{ content }}
        </main>
      </div>
     </div>

    {% include footer.html %}

    {% include scripts.html %}

  </body>
</html>
