---
layout: default
---



    <div class="container">
      <div class="row">
        <div class="col-sm-8">
            {% capture doc-name %}{{ doc.slug }}{% endcapture %}
            {% include search-doc.html content=doc-name %}
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row mt-4">
        <div class="col-sm-4">
         {% include side-nav.html %}
        </div>
        <div class="col-sm-8">
           {{ content }}
        </div>
      </div>
    </div>
