<header class="header header--blue">
  <div class="wrapper">
    <div class="container flex">
      <div class="header__brand header__brand--text">
        <a href="/" class="header__brand-title">docs.rockarch.org</a>
        <div class="header__brand-subtitle">
          Rockefeller Archive Center Documentation
        </div>
      </div>

      <nav class="nav-right" aria-label="Main">
        <div class="nav__list">
          <div class="nav__item btn--navy">
            <a class="nav__link" href="{{ site.baseurl }}/about" id="about">
              About
              <span class="material-icon" aria-hidden="true">
                arrow_right_alt
              </span>
            </a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
