
<header class="site-header">
  <nav class="navbar navbar-expand-lg" role="navigation" aria-label="homepage">
    <div class="container-fluid">
      <div>
      <img class="header-logo" src="//rockarch.org/images/RAC-logo.png" alt="RAC logo"/>
      <a class="navbar-brand nounderline" href="{{ site.baseurl }}/">{{ site.title }} </a>
        <br/><span class="site-subtitle">{{ site.subtitle }}</span>
      </div>

      <ul class="navbar-nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link nounderline" href="{{ site.baseurl }}">About <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link nounderline" href="//github.com/RockefellerArchiveCenter">GitHub</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
