<!--JQuery-->
<script type="text/javascript" src="{{ site.baseurl }}/js/jquery-3.2.1.js"></script>

<!--Popper-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>

<!-- Bootstrap -->
<script type="text/javascript" src="{{ site.baseurl }}/js/bootstrap.js"></script>

<!-- mark.js -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>

<!-- Lunr.js for search -->
<script type="text/javascript" src="//unpkg.com/lunr@2.1.6/lunr.js"></script>
<script async type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/js/lunr-feed.js"></script>

<!--SideNav-->
<script type="text/javascript" src="{{ site.baseurl }}/js/toc.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    $('#current').toc({classes: { list: 'list-group',item: 'list-group-item'}});
});
</script>

<!-- use Bootstrap table formatting for Markdown tables-->
<script type"text/javascript">
  $(document).ready(function () {
    $("table").addClass("table table-striped table-bordered");
  });
</script>

<!-- list.js for homepage search/filter -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>

<!-- variables: category-->
<!-- documents list-->
<!-- code for filter 1: collection development and management-->
<script type="text/javascript" src="{{ site.baseurl }}/js/list.js">
var options = {
  valueNames: [ 'category'

};
var #documentsList = new List('#documents', options);
$('.filter-1').on('click', function() {
  docs-lifecycleList.filter(function(item) {
    var category =
  })
};)
function resetList(){
	userList.search();
	userList.filter();
	userList.update();
	$(".filter-all").prop('checked', true);
	$('.filter').prop('checked', false);
	$('.search').val('');
	//console.log('Reset Successfully!');
};

</script>

<!-- code for filter 2: preservation-->

<!-- code for filter 3: arrangement and description-->

<!-- code for filter 4: referene and outreach-->
© 2018 GitHub, Inc.
