<!--JQuery-->
<script type="text/javascript" src="{{ site.baseurl }}/js/jquery-3.2.1.js"></script>

<!--Docs table of contents-->
<script type="text/javascript" src="{{ site.baseurl }}/js/toc-build.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/toc-active-link.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    $('#current').toc();
});
</script>

<!-- use Bootstrap table formatting for Markdown tables-->

<script type="text/javascript">
  $(document).ready(function () {
    $("table").addClass("table table-striped");
  });
</script>

<!-- filers.js for homepage docs filter by category -->
<script type="text/javascript" src="{{ site.baseurl }}/js/category-filter.js"></script>
