
<div class="form-horizontal">
  <input class="search" placeholder="Search" />
  <button type="button" class="btn-sm btn-outline-primary" id="filter-none">Show All</button>
  <button type="button" class="btn-sm btn-primary" id="filter-1">Collection Development and Management</button>
  <button type="button" class="btn-sm btn-primary" id="filter-2">Preservation</button>
  <button type="button" class="btn-sm btn-primary" id="filter-3">Arrangement and Description</button>
  <button type="button" class="btn-sm btn-primary" id="filter-4">Reference and Outreach</button>
</div>
