<div class="category__container mb-30">
  <fieldset>
    <legend class="mb-15">Filter documentation by category</legend>
    <div class="category__radio-group">
      <div>
        <input type="radio" id="collections-dev" name="category" value="collection development and management" checked />
        <label for="collections-dev">Collection Development and Management</label>
      </div>
      <div>
        <input type="radio" id="preservation" name="category" value="preservation" />
        <label for="preservation">Preservation</label>
      </div>
      <div>
        <input type="radio" id="ref-outreach" name="category" value="reference and outreach" />
        <label for="ref-outreach">Reference and Outreach</label>
      </div>
      <div>
        <input type="radio" id="arrange-describe" name="category" value="arrangement and description" />
        <label for="arrange-describe">Arrangement and Description</label>
      </div>
      <div>
        <input type="radio" id="all-categories" name="category" value="all categories" checked />
        <label for="all-categories">All Categories</label>
      </div>
    </div>
    <button type="submit" class="btn btn--md btn--orange mt-15" id="filter-submit">Filter</button>
  </fieldset>
</div>
