{% for file in site.data %}
  {% if page.dir contains file[0] %}
  {% assign doc = file[1] %}
  {% endif %}
{% endfor %}

<div class="container">
<form action="{{ site.baseurl }}/{{ doc.slug }}/search" method="get" role="search">
  <div class="input-group input-group-sm">
    <input id="query" type="search" name="q" class="form-control" placeholder="Keyword" onclick="ga('send', 'event', 'search', 'search', searchTerm)"/>
  <div class="input-group-btn">
    <button type="submit" class="btn btn-sm btn-secondary">Search Documentation</button>
  </div>
  </div>
</form>
</div>
