<div class="container">
  <div class="row mt-4">
    <div id="documents">
      <div class="filter-group row">
        <!-- where search would be -->
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary filter-1">Collection Development and Management</button>
          <button type="button" class="btn btn-primary filter-2">Preservation</button>
          <button type="button" class="btn btn-primary fitler-3">Arrangement and Description</button>
          <button type="button" class="btn btn-primary filter-4">Reference and Outreach</button>
        </div>
      </div>
      <div>
        <!-- the list for docs -->
      </div>
    </div>
  </div>
</div>
