{% for file in site.data %}
  {% if page.dir contains file[0] %}
  {% assign doc = file[1] %}
  {% endif %}
{% endfor %}

<form class="form-inline" action="{{ site.baseurl }}/{{ doc.slug }}/search" method="get" role="search">
  <div class="input-group input-group-sm">
    <input id="query" type="search" name="q" class="form-control" placeholder="Keyword"/>
  <div class="input-group-btn">
    <button type="submit" class="btn btn-sm btn-outline-secondary">Search Documentation</button>
  </div>
  </div>
</form>
