---
layout: home
title: Rockefeller Archive Center Documentation
---

<div id="docs-list">
{% include search-category.html %}
<ul class="card-list">
  {% for file in site.data %}
  {% assign doc = file[1] %}
  <li class="card">
    <div class="card__body">
      <a class="card__title" href="{{site.baseurl}}{{doc.slug}}">{{ doc.title }}</a>
      {% if doc.public == false %}<p class="badge badge--orange"> Internal Only</p>{% endif %}
      <p class="card__body-text">{% for category in doc.category %}{% include category.html %}{% endfor %}</p>
    </div>
    <div class="card__footer">
      <p class="card__footer-text">Last updated {{doc.updated | date: "%A, %b %e %Y %l:%M %p"}}</p>
    </div>
  </li>
  {% endfor %}
</ul>
</div>