.footer-logo {
    float: left;
    height: 5em;
    margin-right: 1em;
}

div.toc-striped li:nth-child(even) {
    background: #efefef;
}

#current {
  font-size: .8rem;
}

#current .list-group-item:first-child {
    border-radius: 0;
}

#current .list-group-item:last-child {
    border-radius: 0;
}

.docs-example {
  background: #efefef;
  padding: 15px;
  font-family: Courier, monospace;
}

.docs-example > h6 {
  font-weight: 600;
}

.docs-example > p:last-of-type {
  margin-bottom: 0;
}

.title-card {
  min-height: 18rem;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

blockquote p {
  display: inline;
}

.table-responsive {
  margin-bottom: 1em;
}

#documents {
  list-style: none;
}
