body {
    position: relative;
    height: 100%
}
a {
  text-decoration: underline!important;
}

a.underline {
  color: #007bff;
  text-decoration: underline;
  background-color: transparent;
}

a.underline:hover {
	text-decoration: none;
}

.footer-logo {
    float: left;
    height: 5em;
    margin-right: 1em;
}

div.toc-striped li:nth-child(even) {
    background: #efefef;
}

#documents {
  list-style-type: none;
}

#current {
  font-size: .8rem;
}

#current .list-group-item:first-child {
    border-radius: 0;
}

#current .list-group-item:last-child {
    border-radius: 0;
}

.docs-example {
  background: #efefef;
  padding: 15px;
  font-family: Courier, monospace;
}

.docs-example > h6 {
  font-weight: 600;
}

.docs-example > p:last-of-type {
  margin-bottom: 0;
}

.title-card {
  min-height: 18rem;
}

.codeblock {
    color: #bd4147;
    white-space: pre;
    overflow: auto;
    -ms-overflow-style: scrollbar;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

blockquote p {
  display: inline;
}

.table-responsive {
  margin-bottom: 1em;
}

#documents {
  list-style: none;
}

.nav li {
  display: inline-block;
}
.nav li.active {
  background-color:red;
  color: #fff;
}
